#header-custom{
    background-color: rgb(64, 46, 80);
    height: 80px;
    color: aliceblue;
}

#color-custom{
    background-color: rgb(60, 118, 154);
}


#cityIcon{
    background-color: rgb(87, 134, 84);
}


.list-group-item{
    background-color: rgb(87, 134, 84);
    color: aliceblue;
}

#custom-color2{
    color: aliceblue;
}

#cityn{
    color: aliceblue;  
}

.card{
    background-color: rgb(87, 134, 84);
}

